data/AlienData.csv
data_inspection.rmd
data/*
figs/*
logs/*

test_models/*
src/stan/bias*
src/stan/gcm_onedim*
src/stan/reinforcement_learning_onedim*

src/stan/*.exe
.Rproj.user
GCM_thesis.Rproj
.Rhistory